
<div class="bg-image">
  <h2>Please Select your Flight</h2>
  <h1 class="form-control w-75 m-auto text-center">
    {{ foundflight }} Results For {{ date.from | uppercase }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
      />
    </svg>
    {{ date.to | uppercase }} | {{ date.depart | date: "fullDate" }}
  </h1>
</div>

<div class="form-control w-75 m-auto">
  <ul class="list-group w-50 m-auto" *ngFor="let x of message">
    <li class="list-group-item active" aria-current="true">
      {{ x.serviceprovider }}
    </li>
    <li class="list-group-item">
      {{ x.from | uppercase }} &nbsp;| &nbsp;{{ x.starttime}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
        x.duration
      }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ x.to | uppercase}}&nbsp;| &nbsp;{{x.endtime}}
    </li>
       <li class="list-group-item">
      {{ x.price | currency: "INR":"Rs "
      }}<span
        ><button class="btn" mat-button color="warn" (click)="setlocal(x.id);  userLogin()"  >
          Book
        </button>
        
        </span
      >
    </li>
    <br /><br />
  </ul>
</div>

