<div class="container">
    
    <div>
        <ul class="baggage">
            <li >Hand Luggage</li>
            <li>Checked Baggage Allowances</li>
            <li>Excess Baggage</li>
            <li>Special Baggage</li><br>
            <li >Baggage tips and <br> Restricted items</li>
            <li>Lost, Damaged and 
                <br>Delayed delivery of <br>Baggage</li>
            <li>Unaccompanied Baggage</li>
            <li>WorldTracer Baggage <br>Tracing System</li>
            <li>Pre paid Baggage <br>Charges</li>
            <li>Miscellaneous Baggage <br>Information</li>
        </ul>
    
    </div>
    <div>
        <h2 class="image-heading">Baggage</h2>
        <div class="image"></div>
        <button mat-button color="warn" routerLink="/home">Back</button>
    </div>
    <div>
        <ul class="call">
            <li ><h3>1Call 24x7 <br>  All India<br>
                Toll : 1860 233<br>  1407</h3></li>
                    <li>From MTNL/BSNL and <br>Mobile/Landline <br>Numbers of most Private<br> Telecom Operators in<br> India.</li>
        </ul>
    
    </div>
    
    
    </div>
    <div class="image-container">

        <div class="chip">  <mat-card class="example-card">
            <img mat-card-image src="/assets/images/baggage/hand-lagguage.jpg"  alt="Photo of hand bag">
      <mat-card-content>
          <h2>Hand Luggage </h2>
          <p>Learn more about what you can take with you in the cabin.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" href="#">View More</button><br><br>
         </mat-card-actions>
    </mat-card>
    </div>
        
    <div class="chip"> <mat-card class="example-card">
        <img mat-card-image src="/assets/images/baggage/check-baggage-allowance.jpg" alt="Photo of hand bag">
    <mat-card-content>
      <h2>Checked Baggage Allowance </h2>
      <p>Know the checked in baggage allowances for your journey.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" href="#">View More</button><br><br>
     </mat-card-actions>
    </mat-card>
    </div>
    
    <div class="chip"><mat-card class="example-card">
        <img mat-card-image src="/assets/images/baggage/additional-baggage-allowance.png" alt="Photo of hand bag">
    <mat-card-content>
      <h2>Eccess Baggage</h2>
          <p>Guidelines for packing your baggage.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" href="#">View More</button><br><br>
     </mat-card-actions>
    </mat-card>
    </div>
    
    <div class="chip">
        <mat-card class="example-card">
            <img mat-card-image src="/assets/images/baggage/spl-baggage.png" alt="Photo of hand bag">
     <mat-card-content>
         <h2>Special Baggage </h2>
             <p>Charges for carriage of Sports/Music and other Equipment.</p>
     </mat-card-content>
     <mat-card-actions>
         <button mat-button color="accent" href="#">View More</button><br><br>
        </mat-card-actions>
    </mat-card>
    </div>     
    
          
    <div class="chip"> <mat-card class="example-card">
        <img mat-card-image src="/assets/images/baggage/baggage-tips.jpg" alt="Photo of hand bag">
    <mat-card-content>
    <h2>Baggage Tips and Restricted Items</h2>
    <p>Guidelines for packing your baggage.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button color="accent" href="#">View More</button><br><br>
    </mat-card-actions>
    </mat-card>
    </div>
         
    
        <div class="chip"> <mat-card class="example-card">
            <img mat-card-image src="/assets/images/baggage/lost-dmag-baggage.jpg" alt="Photo of hand bag">
     <mat-card-content>
         <h2>Baggage Tips and Restricted Items</h2>
             <p>Guidelines for packing your baggage.</p>
     </mat-card-content>
     <mat-card-actions>
         <button mat-button color="accent" href="#">View More</button><br><br>
        </mat-card-actions>
    </mat-card>
    </div> 
    
         <div class="chip">  <mat-card class="example-card">
            <img mat-card-image src="/assets/images/baggage/unaccompained-baggage.jpg" alt="Photo of hand bag">
     <mat-card-content>
         <h2>Unaccompanied Baggage</h2>
         <p>Details of baggage which can be sent as cargo.</p>
     </mat-card-content>
     <mat-card-actions>
         <button mat-button color="accent" href="#">View More</button><br><br>
        </mat-card-actions>
    </mat-card>
    </div>
        

    </div>
  

            

     
