<div class="footer">
  <ul>
    <li>
      <button mat-button color="primary" href="#">About Air India</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">
        Conditions of Carriage
      </button>
    </li>
    <li>
      <button mat-button color="primary" href="#">US DOT regulations</button>
    </li>
  </ul>
  <ul>
    <li><button mat-button color="primary" href="#">Media Center</button></li>
    <li>
      <button mat-button color="primary" href="#">Forms and Download</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">Canada Regulations</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">
        Corporate Environment Policy
      </button>
    </li>
  </ul>
  <ul>
    <li><button mat-button color="primary" href="#">Vigilance</button></li>
    <li><button mat-button color="primary" href="#">Feedback</button></li>
    <li>
      <button mat-button color="primary" href="#">Feedback Status</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">Contact Details</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">Air India Express</button>
    </li>
    <li>
      <button mat-button color="primary" href="#">Statutory Information</button>
    </li>
  </ul>
  <ul>
    <li><button mat-button color="primary" href="#">Sitemap</button></li>
    <li><button mat-button color="primary" href="#">Careers</button></li>
    <li><button mat-button color="primary" href="#">Travel Agents</button></li>
    <li><button mat-button color="primary" href="#">FAQs</button></li>
    <li>
      <button mat-button color="primary" href="#">Carriage of Pets</button>
    </li>
    <li><button mat-button color="primary" href="#">GST</button></li>
  </ul>
</div>
