<h1>Plan your trip and travel with confidence</h1>
<h2>From booking services to help in travel plans, you can expect a lot along your journey.</h2>


<div class="cards">
    <div class="card" style="width: 18rem;">
              <div class="card-body">
          <p class="card-text">COVID-19 UPDATES AND TRAVEL ADVISORIES</p>
          <button mat-button color="accent" href="#">View More</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
              <img mat-card-image src="/assets/images/book/img2.jpg"  alt="travellers guide" width="300vw" height="350vw">
           </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">ESSENTIAL TRAVEL REQUIREMENTS</p>
          <button mat-button color="accent" href="#">View More</button>
        </div>
        <img mat-card-image src="/assets/images/book/img3.jpg"  alt="Essential documents requirements" width="300vw" height="200vw">
       
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">AIRPORT INFORMATION</p>
          <button mat-button color="accent" href="#">View More</button>
        </div>
        <img mat-card-image src="/assets/images/book/img4.jpg"  alt="Photo of hand bag" width="287vw" height="200vw">
    
      </div>


</div>