<div class="main-container">
  <span class="date">{{dateToday}} [{{timeNow}}]</span>

  <div class="div">
    <div class="container ">
        <ul class="nav">
          <li class="login">
            <a class=" first" routerLink="/login">Login</a>
          </li>
          <li class="login">
            <a class=" first" routerLink="/sign-up">Sign Up</a>
          </li>
        </ul>
      </div>
  </div>
              <ul class="nav container ">
                <li class="list">
                  <a mat-button color="warn" class="second" href="#">Home</a>
                </li>
                  <li class="list">
                    <a mat-button color="warn" class="second"routerLink="/book">Book</a>
                  </li>
                  <li class="list">
                    <a mat-button color="warn" class="second" routerLink="/travel-info">Travel Information</a>
                  </li>
                  <li class="list">
                    <a mat-button color="warn" class="second" routerLink="/baggage">Baggage</a>
                  </li>
                  <li class="list">
                    <a mat-button color="warn" class="second" routerLink="/offers">Offers</a>
                  </li>
                  <li class="list">
                    <a mat-button color="warn" class="second" routerLink="/contact">Contact</a>
                  </li>
                 </ul>
</div>
