<button class="btn btn-primary btn  m-5" (click)="logOut()">LogOut</button>
<br><br><br>
<ul class="list-group w-50 m-auto" *ngFor="let x of val">
  <li class="head list-group-item text-center font-weight-bold">Ticket Details</li>
  <li class="  list-group-item font-weight-bold">
    {{ x.serviceprovider | uppercase }}
  </li>




  <li class="list-group-item">
    {{ x.source | uppercase }} &nbsp;| &nbsp;{{ x.starttime  }} 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    -----------------------------------------------------------------------------------------
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{ x.destination | uppercase }} &nbsp;|&nbsp; {{ x.endtime }} 
 <br> Date of Journey &nbsp; : &nbsp;{{ x.date | date: "fullDate" | uppercase }}
  <span class="right btn ">Price&nbsp; : &nbsp;{{ x.price | currency: "Rs "}}</span> 
    
  </li>

  <!-- {{x.tat}}
  {{x.fs}} -->
 
  <li class="list-group-item">Name &nbsp;:-&nbsp; {{x.name}} <br> 
    Date Of Birth &nbsp;:-&nbsp; {{x.dob}}<br>
    Mobile Number &nbsp;:- &nbsp;{{x.mobile}}<br>
  </li>
  <!-- <li class="list-group-item"> Number of Ticket:- {{x.numOfTicket}}</li> -->
  <li  class="list-group-item"> <button mat-button class="btn btn-danger" (click)="cancelticket(x.id)">Cancel ticket</button></li><br>
 </ul>


