<div class="main">

    <div class="quicklinks fix"><h2>Quick Links</h2>
        <ul >
            <li>Customer support</li>
            <li>Contact details</li>
            <li>Frequently Asked Questions</li>
            <li>Feedback</li>
            <li>Feedback Status</li>
            <li>Alliance Air</li>
        </ul></div>
        
            <div class="container"><br>
                <div><h1>Customer Support</h1></div>
              
                
            <div class="support"></div>
            <div>  <button mat-button color="primary"  routerLink="/home">Back</button></div><br>
            <div><h2>Air India contact numbers for callers in India</h2></div>
            <div><p>Call 24x7 Customer Care numbers 0124-2641407 / 020-26231407 / 1860 233 1407 from MTNL / BSNL lines and Mobile 
                / landlines of most private telecom operators in India only.</p></div><br>
                <div><h2>Air India contact numbers for callers outside India</h2></div>
                <div><p>USA & Canada<br>1888 634 1407 (Toll Free)<br><br>
                    UK<br>0800 048 9254 (Toll Free)<br><br>
                    Australia<br>613 701 98270 (Toll Number) <br><br>
                    France<br>331 874 06644 (Toll Number) <br><br>
                    Germany<br>496925511337 (Toll Number) <br><br>
                    Singapore<br>800 101 4016 (Toll Free)</p><br><br>
                 
                    <p> # Calls charged to callers as per applicable network call rates.</p></div>
                    <div>Callers from all foreign locations can also call on</div><br>
                    <div> <p>+ 91 124 2641407 (International call rates applicable)<br>
        
                        + 91 20 2623 1407 (International call rates applicable)<br>
                        
                        Information can be accessed on Whatsapp no. 9154195505. Send ' Hi ' on 9154195505</p></div>
                        <div><h3>Call Centre Email IDs</h3>
                        <p>E mail ID : <br>contactus@airindia.in</p></div>
        
                        <div>
                            <h3>Helpdesk for online E tickets booked on Air India Website & Mobile App</h3>
                            <p>Contact Number : 011 24667473 (Monday to Friday ,0930 hrs - 1730 hrs IST)<br>
        
                                Click here for queries related to E-tickets booked on Air India Website and Mobile App</p>
                        </div>
                        <div>
                            <h3>Frequent Flyer</h3>
                            <p>Call 24x7 Customer Care numbers 0124-2641407 / 020-26231407 / 1860 233 1407 from MTNL / 
                                BSNL lines and Mobile / landlines of most private telecom operators in India only</p>
                        </div>
                       
                </div>
        
        
        
        
        
        

</div>

