.container{
    display: flex;
    justify-content: space-between;
}

.right{
margin-top: 2vw; 
}


.hr{
    height: 2.2vw;
    background-image: linear-gradient(to right, red , #f5891e);
}
.socialmedia{
margin:5vw 0;
}
.footers{
    display: flex;
    
}
.center{
    margin-top:.8vw;
}