<div class="container">
    
    <div>
        <ul class="travel">
            <li >Before you Fly</li>
            <li>On Ground Services</li>
            <li>On Board Facilities</li>
            <li>Airport Information</li>
            <li>Code Share Partners</li>
            <li>Preffered Seat Scheme</li>
            <li>Security Regulations</li>
            <li>Forms and Downloads</li>
            <li>EU Regulation : 261/2004</li>
        </ul>
    
    </div>
    <div>
        <h2 class="image-heading">Travel Information</h2>
        <div class="image"></div>
        <button mat-button color="warn" routerLink="/home">Back</button>
    </div>
    <div>
        <ul class="call">
            <li ><h3>1Call 24x7 <br>  All India<br>
                Toll : 1860 233<br>  1407</h3></li>
                    <li>From MTNL/BSNL and <br>Mobile/Landline <br>Numbers of most Private<br> Telecom Operators in<br> India.</li>
        </ul>
    
    </div>
    
    
    </div>
    <div class="image-container">

        <div class="chip">  <mat-card class="example-card">
            <img mat-card-image src="/assets/images/travel/travel-info-01.jpg"  alt="Photo of hand bag">
      <mat-card-content>
          <h2>Network</h2>
          <p>Discover 37 international and 69 domestic destinations over four continents.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" href="#">View More</button><br><br>
         </mat-card-actions>
    </mat-card>
    </div>
        
    <div class="chip"> <mat-card class="example-card">
        <img mat-card-image src="/assets/images/travel/travel-info-02.jpg" alt="Photo of hand bag">
    <mat-card-content>
      <h2>Before you Fly </h2>
      <p>Tips for travel - let Air India help make your vacation or business travel a reality.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" href="#">View More</button><br><br>
     </mat-card-actions>
    </mat-card>
    </div>
    
    <div class="chip"><mat-card class="example-card">
        <img mat-card-image src="/assets/images/travel/travel-info-03.jpg" alt="Photo of hand bag">
    <mat-card-content>
      <h2>On Ground Services</h2>
          <p>City & Airport Services for out-going passengers.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" href="#">View More</button><br><br>
     </mat-card-actions>
    </mat-card>
    </div>
    
    <div class="chip">
        <mat-card class="example-card">
            <img mat-card-image src="/assets/images/travel/travel-info-04.jpg" alt="Photo of hand bag">
     <mat-card-content>
         <h2>Code - Share Partners </h2>
             <p>Discover new destinations and more with our partners.</p>
     </mat-card-content>
     <mat-card-actions>
         <button mat-button color="accent" href="#">View More</button><br><br>
        </mat-card-actions>
    </mat-card>
    </div>     
    
          
    <div class="chip"> <mat-card class="example-card">
        <img mat-card-image src="/assets/images/travel/travel-info-banner-05.jpg" alt="Photo of hand bag">
    <mat-card-content>
    <h2>On Board Facilities</h2>
    <p>Entertainment, dining and shopping on board.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button color="accent" href="#">View More</button><br><br>
    </mat-card-actions>
    </mat-card>
    </div>
         
    
        <div class="chip"> <mat-card class="example-card">
            <img mat-card-image src="/assets/images/travel/travel-info-6.jpg" alt="Photo of hand bag">
     <mat-card-content>
         <h2>Explore our Airport Lounges</h2>
             <p>Relax before the flight or catch up on work at our dedicated and partnered lounges.</p>
     </mat-card-content>
     <mat-card-actions>
         <button mat-button color="accent" href="#">View More</button><br><br>
        </mat-card-actions>
    </mat-card>
    </div> 
           

    </div>