

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 0"></button>
    </div>
        <div class="carousel-inner">
             <div class="carousel-item active">
              <h2 class="domestic">Domestic Tourism</h2>
              <img src="../../../../assets/images/dehradun.jpg" class="d-block w-100" alt="Dehradun">
              <div class="carousel-caption d-none d-md-block">
                <h5>Dehradun</h5>
                <p>The Doon valley</p>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="domestic">Domestic Tourism</h2>
                <img src="../../../../assets/images/jammu.jpg" class="d-block w-100" alt="Jammu">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Jammu & Kashmir</h5>
                  <p>The heaven in India</p>
                </div>
              </div>
              <div class="carousel-item">
                <h2 class="domestic">Domestic Tourism</h2>
                <img src="../../../../assets/images/tajcity.jpg" class="d-block w-100" alt="Agra">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Agra</h5>
                  <p>The city of Taj</p>
                </div>
              </div>
              <div class="carousel-item">
                <h2 class="domestic">Domestic Tourism</h2>
                <img src="../../../../assets/images/otty.jpg" class="d-block w-100" alt="Otty">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Otty</h5>
                  <p>The queen of Hills</p>
                </div>
              </div>
              <div class="carousel-item">
                <h2 class="domestic">International Tourism</h2>
                <img src="../../../../assets/images/greatcanyon.jpg" class="d-block w-100" alt="usa">
                <div class="carousel-caption d-none d-md-block">
                  <h5>USA</h5>
                  <p>The Great Canyon</p>
                </div>
              </div>
            <div class="carousel-item">
              <h2 class="domestic">International Tourism</h2>
              <img src="../../../../assets/images/egypt.jpg" class="d-block w-100" alt="egypt">
              <div class="carousel-caption d-none d-md-block">
                <h5>Egypt</h5>
                <p>The land of Pyraminds</p>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="domestic">International Tourism</h2>
              <img src="../../../../assets/images/greece.jpg" class="d-block w-100" alt="Greece">
              <div class="carousel-caption d-none d-md-block">
                <h5>Greece</h5>
                <p>The acropolis of Athens</p>
              </div>
            </div>
            <div class="carousel-item ">
              <h2 class="domestic">International Tourism</h2>
              <img src="../../../../assets/images/china.jpg" class="d-block w-100" alt="China">
              <div class="carousel-caption d-none d-md-block">
                <h5>China</h5>
                <p>The forbidden city</p>
              </div>
            </div>
          
          </div>         

   
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="container">
    
<div>
    <ul class="schemes">
        <li ><h3>International Schemes</h3></li>
        <li>Get Upfront Upgrades</li>
        <li>Student Offers</li>
        <li>Companion free schemes</li><br>
        <li ><h3>Domestic Schemes</h3></li>
        <li>Get upfront offer</li>
        <li>Special schemes</li>
        <li>Companion schemes</li>
        <li>Concessionary fares</li>
        <li>Corporate Houses</li>
        <li>Group Bookings</li>
        <li>Bid and Upgrades</li>
        <li>Discounted Business</li>
        <li>Class fare</li>
    </ul>

</div>
<div>
    <h2 class="image-heading">Special Offers</h2>
    <div class="image"></div>
</div>
<div>
    <ul class="call">
        <li ><h3>1Call 24x7 <br>  All India<br>
            Toll : 1860 233<br>  1407</h3></li>
                <li>From MTNL/BSNL and <br>Mobile/Landline <br>Numbers of most Private<br> Telecom Operators in<br> India.</li>
    </ul>

</div>

</div>
