
<div class="heading">
  <h2 class="m-auto w-50">Please add Passengers</h2>
</div>


<ul *ngFor="let x of z">
  <li class="list-group-item w-50 m-auto">{{x.from | uppercase}}  &nbsp;| &nbsp; {{x.starttime}} 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;----------------------------  
    &nbsp;  {{x.duration}}  &nbsp; ----------------------------- 
     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{x.to | uppercase}}  &nbsp; |  &nbsp; {{x.endtime}}</li>
  <li class="list-group-item w-50 m-auto">{{x.price | currency:"INR"}}</li>

</ul>

<button class=" btn btn-primary details"  mat-button color="warn" routerLink="formchild">Add Passengers</button>
<router-outlet></router-outlet>

